<div class="header">
  <h1 class="header_title">注文リスト<h1>
</div>
<div class="sub_header">
  <%= link_to(root_path, class: "sub_header_link") do %>
  <i class="fas fa-angle-left icon"></i>
  メニュー選択に戻る
  <% end %>
</div>
<div class="total">
  <div class="render">
    <%= render 'layouts/total_list', items: @cart_items %>
  </div>
  <div class="round_btn round_btn_red">
    <%= link_to "注文をする", cart_path(@cart), method: :delete, class: "order_confirmation", data: { "disable-with": "保存しています..." } %>
  </div>
</div>

<div class="main">
  <div class="orderlist_content">
    <ul class="orderlist_contents_items_list">
      <% @cart_items.each do |item| %>
      <div id=<%= item.menu.name %>>
        <%= render 'cart_items/cart_item', cart_item: item %>
      </div>
      <% end %>
    </ul>
  </div>
</div>