<main>
	<div class="justify-content-center">
		<div class="wrapper menu">

			<div class="header">
				<h1 class="header_title">
					<% if logged_in? %>
					<%= link_to "QR Order", user_path(current_user)%>
					<% else %>
					QR Order
					<% end %>
				</h1>

				<div class="btn_wrapper">
					<% if session[:table_id] %>
					<div class="header_btn header_btn_blue">
						<%= link_to "呼出", call_path(table_id: session[:table_id]), class: "header_btn_inner",  method: :post %>
					</div>
					<% end %>
					<div class="header_btn header_btn_blue">
						<%= link_to "履歴", history_path, class: "header_btn_inner" %>
					</div>
					<div class="header_btn header_btn_red">
						<%= link_to "お会計", check_path, class: "header_btn_inner" %>
					</div>
				</div>

			</div>

			<div class="main">
				<div class="menu_sidenavi">
					<ul class="menu_sidenavi_list">
						<% @menus.pluck(:category).uniq.each do |category| %>
						<li class="menu_sidenavi_listitem">
							<%= link_to category, root_path(category: category) %>
						</li>
						<% end %>
					</ul>
				</div>
				<div class="menu_content">
					<div class="menu_content_items">
						<% if params[:category] %>
						<h2 class="menu_content_items_title">
							<%= params[:category] %>
						</h2>
						<ul class="menu_content_items_list">
							<% @menus.where(category: params[:category]).find_each do |menu| %>
							<div id=<%= menu.name %>>
								<%= render 'layouts/menu', menu: menu, cart_items: @cart_items %>
							</div>
							<% end %>
						</ul>
						<% else %>
						<% @menus.pluck(:category).uniq.each do |category| %>
						<h2 class="menu_content_items_title">
							<%= category %>
						</h2>
						<ul class="menu_content_items_list">
							<% @menus.where(category: category).find_each do |menu| %>
							<div id=<%= menu.name %>>
								<%= render 'layouts/menu', menu: menu, cart_items: @cart_items %>
							</div>
							<% end %>
						</ul>
						<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="menu_total">

				<%= render 'layouts/total', cart_items: @cart_items %>

				<div class="menu_order_btn">
					<%= link_to "ご注文", confirm_path %>
				</div>
			</div>
		</div>
	</div>
</main>