<main>
	<div class="justify-content-center">
		<div>
			<div class="wrapper menu">   

				<div class="header">
					<h1 class="header_title">
						QR Order
					</h1>
					<div class="header_btn header_btn_blue">
						<%= link_to "履歴", history_path, class: "header_btn_inner" %>
					</div>
					<div class="header_btn header_btn_red">
						<%= link_to "お会計", check_path, class: "header_btn_inner" %>
					</div>
				</div>

				<div class="main">
					<div class="menu_sidenavi">
						<ul class="menu_sidenavi_list">
							<li class="menu_sidenavi_listitem active">
								<%= link_to "おすすめ", "#" %>
							</li>
						</ul>
					</div>
					<div class="menu_content">
						<div class="menu_content_items">
							<h2 class="menu_content_items_title">おすすめ</h2>
							<ul class="menu_content_items_list">
								<li class="menu_content_items_listitem">

									<%= link_to(show_path, class: "modal_item_detail") do %>
										<div>
											<%= image_tag "mabo.jpeg", class: "menu_item_img" %>
										</div>
										<div class="menu_item_info">
											<p class="menu_item_info_name">
												定食
											</p>
											<p class="menu_item_info_price_wrap list">
												<span class="menu_item_info_price"><%= @menu1.price %>円</span>
												<span class="text_gray list">(税抜)</span>
											</p>
											<div class="item_number_btn">
												<div class="item_number_minus">
													<i class="fas fa-minus" aria-hidden="true"></i>
												</div>
												<span class="item_number"><%= @item_number1 %></span>
												<div class="item_number_plus">
													<i class="fas fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									<% end %>

									<%= link_to(show_path, class: "modal_item_detail") do %>
										<div>
											<%= image_tag "sake.jpeg", class: "menu_item_img" %>
										</div>
										<div class="menu_item_info">
											<p class="menu_item_info_name">
												日本酒
											</p>
											<p class="menu_item_info_price_wrap list">
												<span class="menu_item_info_price"><%= @menu2.price %>円</span>
												<span class="text_gray list">(税抜)</span>
											</p>
											<div class="item_number_btn">
												<div class="item_number_minus">
													<i class="fas fa-minus" aria-hidden="true"></i>
												</div>
												<span class="item_number"><%= @item_number2 %></span>
												<div class="item_number_plus">
													<i class="fas fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									<% end %>

								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="menu_total">
					<div class="menu_total_info">
						<div class="menu_total_info_unit">
							<span class="menu_total_info_headline">数量</span>
							<span class="menu_total_info_description">
								<%= @item_number1 + @item_number2 %>
							</span>
						</div>
						<div class="menu_total_info_unit">
							<span class="menu_total_info_headline">合計金額</span>
							<span class="menu_total_info_description">
								<%= @menu1.price * @item_number1 + @menu2.price * @item_number2 %>円
								<span class="text_gray">(税抜)</span>
							</span>
						</div>
					</div>
					<div class="menu_order_btn">
						<%= link_to "ご注文", confirm_path %>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>