<main>
	<div class="justify-content-center">
		<div>
			<div class="wrapper menu">   

				<div class="header">
					<h1 class="header_title">
						QR Order
					</h1>
					<div class="header_btn header_btn_blue">
						<%= link_to "履歴", history_path, class: "header_btn_inner" %>
					</div>
					<div class="header_btn header_btn_red">
						<%= link_to "お会計", check_path, class: "header_btn_inner" %>
					</div>
				</div>

				<div class="main">
					<div class="menu_sidenavi">
						<ul class="menu_sidenavi_list">
							<li class="menu_sidenavi_listitem active">
								<%= link_to "おすすめ", "#" %>
							</li>
						</ul>
					</div>
					<div class="menu_content">
						<div class="menu_content_items">
							<h2 class="menu_content_items_title">おすすめ</h2>
							<ul class="menu_content_items_list">
								<% @menus.each do |menu| %>

									<li class="menu_content_items_listitem">
										<div class="modal_item_detail">
											<div>
												<%= image_tag menu.display_image, class: "menu_item_img" if menu.image.attached? %>
											</div>
											<div class="menu_item_info">
												<p class="menu_item_info_name">
													<%= menu.name %>
												</p>
												<p class="menu_item_info_price_wrap list">
													<span class="menu_item_info_price"><%= menu.price %>円</span>
													<span class="text_gray list">(税抜)</span>
												</p>
												<div class="item_number_btn">
													<div class="item_number_minus">
														<i class="fas fa-minus" aria-hidden="true"></i>
													</div>
													<div class="number_box">
														<span class="item_number"><%= @item_number %></span>
													</div>
													<div class="item_number_plus">
														<button class="count">
															<i class="fas fa-plus" aria-hidden="true"></i>
														</button>
													</div>
												</div>
												<div class="item_delete_btn">
													<% if logged_in? %>
														<%= link_to "delete", menus_path, method: :delete,
																					data: { confirm: "You sure?" } %>
													<% end %>
												</div>
											</div>
										</div>
									</li>
									
								<% end %>
							</ul>
						</div>
					</div>
				</div>

				<div class="menu_total">
					<div class="menu_total_info">
						<div class="menu_total_info_unit">
							<span class="menu_total_info_headline">数量</span>
							<span class="menu_total_info_description">
								<%= "合計数" %>
							</span>
						</div>
						<div class="menu_total_info_unit">
							<span class="menu_total_info_headline">合計金額</span>
							<span class="menu_total_info_description">
								<%= "合計金額" %>円
								<span class="text_gray">(税抜)</span>
							</span>
						</div>
					</div>
					<div class="menu_order_btn">
						<%= link_to "ご注文", confirm_path %>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>