<main>
	<div class="justify-content-center">
		<div>
			<div class="wrapper menu">   
	
				<div class="header">
					<h1 class="header_title">
						QR Order
					</h1>
					<% flash.each do |key, value| %>
						<div class="alert alert-success" role="alert">
							<% key %>
							<%= value %>
						</div>
					<% end %>
					<div class="header_btn header_btn_blue">
						<%= link_to "履歴", history_path, class: "header_btn_inner" %>
					</div>
					<div class="header_btn header_btn_red">
						<%= link_to "お会計", check_path, class: "header_btn_inner" %>
					</div>
				</div>

				<div class="main">
					<div class="menu_sidenavi">
						<ul class="menu_sidenavi_list">
							<li class="menu_sidenavi_listitem">
								<%= link_to "おすすめ", root_path(category: "おすすめ") %>
								<%= link_to "ランチ", root_path(category: "ランチ") %>
								<%= link_to "肉料理", root_path(category: "肉料理") %>
								<%= link_to "魚介類", root_path(category: "魚介類") %>
								<%= link_to "サラダ", root_path(category: "サラダ") %>
								<%= link_to "お酒", root_path(category: "お酒") %>
								<%= link_to "その他", root_path(category: "その他") %>
							</li>
						</ul>
					</div>
					<div class="menu_content">
						<div class="menu_content_items">
							<% if params[:category] %>
								<h2 class="menu_content_items_title">
									<%= params[:category] %>
								</h2>
								<% @menus.where(category: params[:category]).find_each do |menu| %>

									<%= render 'layouts/menu', menu: menu %>

								<% end %>
							<% else %>
								<h2 class="menu_content_items_title">
									おすすめ
								</h2>
								<% @menus.where(category: "おすすめ").find_each do |menu| %>

									<%= render 'layouts/menu', menu: menu %>

								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="menu_total">

					<%= render 'layouts/total', cart_items: @cart_items %>

					<div class="menu_order_btn">
						<%= link_to "ご注文", confirm_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>