<div class="header">
  <h1 class="header_title">メニュー詳細<h1>
</div>
<div class="sub_header">
  <%= link_to(root_path, class: "sub_header_link") do %>
  <i class="fas fa-angle-left icon"></i>
  メニュー選択に戻る
  <% end %>
</div>
<div class="item_detail">
  <div class="item_detail_container">
    <div class="item_detail_img">
      <%= image_tag @menu.display_image if @menu.image.attached? %>
    </div>
    <div class="item_detail_info">
      <p class="item_detail_name">
        <%= @menu.name %>
      </p>
      <p class="item_detail_price">
        <%= @menu.price %><span class="text_gray">(税込)</span>
      </p>
      <p class="item_detail_description">
        <%= @menu.content %>
      </p>
      <% if logged_in? %>
      <ul>
        <li><%= link_to "メニュー編集", edit_path(id: @menu.id) %></li>
        <li>
          <%= link_to "メニュー削除", menus_path(id: @menu.id), method: :delete,
                                                              data: { confirm: "削除しますか？" } %>
        </li>
        <% if @menu.existence %>
        <li><%= link_to "売り切れ", sold_out_path(id: @menu.id), method: :post %></li>
        <% else %>
        <li><%= link_to "売り切れ状態解除", sold_out_path(id: @menu.id), method: :post %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>