<div class="header">
  <h1 class="header_title">
    QR Order
  </h1>
</div>
<div class="order_list col-md-6 offset-md-3">
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "メニュー一覧", root_path %></li>
    <li class="list-group-item"><%= link_to "注文履歴", order_path %></li>
    <li class="list-group-item"><%= link_to "メニュー作成", new_path %></li>
    <li class="list-group-item"><%= link_to "テーブル作成", new_table_path %></li>
    <li class="list-group-item"><%= link_to "ログアウト", logout_path %></li>
    <li>
      現在のテーブル一覧
      <% @tables.each do |table| %>
      <%= table.table_number %>番
      <% end %>
    </li>
  </ul>
</div>