<% if menu.existence %>
<li class="menu_content_items_listitem">
  <div class="modal_item_detail">
    <div class="menu_item_img_cover">
      <%= image_tag menu.display_image, class: "menu_item_img" if menu.image.attached? %>
    </div>
    <div class="menu_item_info">
      <p class="menu_item_info_name">
        <%= link_to menu.name, show_path(id: menu.id)%>
      </p>
      <p class="menu_item_info_price_wrap list">
        <span class="menu_item_info_price"><%= menu.price %>円</span>
        <span class="text_gray list">(税込)</span>
      </p>
      <div class="item_number_btn">
        <% item = cart_items&.find_by(menu_id: menu.id) %>
        <% if item&.quantity == 0 || !item %>
        <div class="item_number_minus">
          <i class="fas fa-minus icon disabled"></i>
        </div>
        <% else %>
        <div class="item_number_minus">
          <%= button_to root_path, {remote: true, params: {id: "minus", quantity: item&.quantity, menu_id: menu.id, category: menu.category}} do %>
          <i class="fas fa-minus icon"></i>
          <% end %>
        </div>
        <% end %>
        <div class="number_box">
          <span class="item_number">
            <%= item ? item.quantity : 0 %>
          </span>
        </div>
        <div class="item_number_plus">
          <%= button_to root_path, {remote: true, params: {id: "plus", quantity: item&.quantity, menu_id: menu.id, category: menu.category}} do %>
          <i class="fas fa-plus icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
<% else %>
<p class="soldout">
  <i class="fas fa-dizzy"></i>
  申し訳ございません。
  <%= link_to menu.name, show_path(id: menu.id) %>
  は売り切れです。
</p>
<% end %>
