<!DOCTYPE html>
<html lang="ja">

<head>
  <title>QRorderApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta http-equiv="content-language" content="ja">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://kit.fontawesome.com/78db340c33.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'alert', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <% if flash %>
  <% flash.each do |value| %>
  <input class="alert" type="hidden" value=<%= value %> />
  <% end %>
  <% end %>
  <%= yield %>
</body>

</html>